<section class="add-medication col-md-12 col-sm-12">

    <form class="form-horizontal container">
        <div class="form-group">
            <div class="col-sm-2">
                <label for="Medications">Medications:</label>
            </div>
            <div class="search-box col-sm-10">
                <span class="fa fa-search icon-search"></span>
                <ui-select ng-model="selectedDrugName" theme="bootstrap" reset-search-input="false" title="drugs" on-select="checkDrug($item, $model)">
                    <ui-select-match placeholder="Drugs"> {{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="drug in drugs track by $index" refresh="getDrugs($select.search)" refresh-delay="0">
                        <div class="title-section">
                            <label ng-bind="drug.name"></label>
                        </div>
                    </ui-select-choices>
                </ui-select>
                <!-- <div class="warning" ng-if="init.warning">
                    <i class="fa fa-warning"></i> {{init.warning}} </div> -->
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2">
                <label for="Dosage">Dosage</label>
            </div>
            <div class="col-sm-10">
                <ui-select ng-model="selectedDosage" theme="bootstrap" reset-search-input="false" title="Dosage" on-select="checkDosage($item, $model)">
                    <ui-select-match placeholder="Dosage"> {{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="item in init.dosage track by $index" refresh-delay="0">
                        <div class="title-section">
                            <label ng-bind="item"></label>
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>


        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label for="Start">Start Date:</label>
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="YYYY-DD-MM" ng-model="init.startDate">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label for="End">End Date:</label>
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="YYYY-DD-MM" ng-model="init.endDate">
            </div>
        </div>
        <button class="btn btn-primary pull-right" ng-click="saveMedication()">Add</button>
        <div class="form-group">
            <div class="alert alert-success animated fadeInUp" ng-if="init.message">
                {{init.message}}
            </div>
        </div>
    </form>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fa fa-close pull-right" data-dismiss="modal"></i>
                </div>
                <div class="modal-body">
                    <div class="warning" ng-if="init.warning">
                        <i class="fa fa-warning"></i>
                        <span ng-bind-html="init.warning"> </span> </div>
                </div>
                <div class="modal-header">
                    <div class="pull-right">
                        <button class="btn btn-defalt" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" ng-click="confirmSave()" data-dismiss="modal">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>