.nav-tabs {
    li a {
        color: #333;
        @include border-radius(0);
    }
}

.medications,
.add-medication {
    background: #fff;
    @include full-width;
    padding-top: 15px;
    min-height: 600px;
}

.container {
    max-width: 700px;
    padding-top: 50px;
}

.alert {
    @include full-width;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: green;
}

.warning {
    padding: 5px;
    margin-top: 10px;
    color: #8a6d3b;
    border: 1px solid #8a6d3b;
}