.nav-tabs {
    li a {
        color: #333;
        @include border-radius(0);
    }
}

.medications,
.add-medication {
    background: #fff;
    @include full-width;
    position:relative;
    padding-top: 15px;
    min-height: 600px;
}

.container {
    max-width: 700px;
    padding-top: 50px;
}

.alert {
    @include full-width;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: green;
}

.warning {
    color: #8a6d3b;
    font-size: 14px;
    font-weight: bold;
    display: table;
    b {
        font-size: 16px;
    }
    i,
    span {
        display: table-cell;
        vertical-align: middle;
    }
    .fa-warning {
        font-size: 30px;
        padding-right: 8px;
    }
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 70% !important;
}

.medicationsTree {
    @include full-width;
    height: 500px;
    padding: 50px;
    overflow: hidden;
    &:before {
        content: "";
        width: 180px;
        height: 70px;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99999;
    }
    canvas{
        &:focus,&:active{
             outline:none;
        }
    }
}
.open .dropdown-menu {
     display:block !important;
}