.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.patient-lists {
    @include full-width;
    margin-top: 30px;
    background: #fff;
    .row-item {
        @include full-width;
        padding: 15px;
        border-bottom: 1px solid #d2d2d2;
        .patient-icon {
            width: 60px;
            float: left;
            padding-top: 4px;
        }
        label,
        span {
            display: block;
            padding: 0;
            margin: 0;
            color: #666;
            font-weight: normal;
            line-height: 100%;
        }
        .lbl-text {
            display: table;
            cursor: pointer;
            vertical-align: middle;
            font-weight: 400;
            letter-spacing: .2px;
            max-width: 100%;
        }
        .lbl-dark {
            color: #333;
        }
        &:first-child {
            &,
            .lbl-text {
                display: block;
            }
        }
        .patient-info {
            float: left;
            width: calc(100% - 70px);
            margin-left: 10px;
        }
        label {
            display: block;
            padding: 5px 5px 2px;
            margin: 0;
            cursor: pointer;
        }
        .lbl-text {
            font-weight: 400;
            letter-spacing: .2px;
            max-width: 100%;
            @extend .text-ellipsis;
        }
        .text-normal {
            font-size: 14px;
        }
        .text-medium {
            font-size: 18px;
        }
        .text-small {
            font-size: 15px;
        }
    }
}