<section>
    <main-header></main-header>
    <div class="col-md-12 dashboard">
        <div class="patient-lists animated fadeIn">

            <a class="row-item " ui-sref="details({id:patient.id})" ng-repeat="patient in patientList | orderBy:'id'">
                <div class=" patient-icon">
                    <img ng-src="{{patient.photo}}" class="img-circle " alt="{{patient.name}} " />
                </div>
                <div class="patient-info ">
                    <div class="first-row"><label class="lbl-text text-medium"><span class="lbl-dark" ng-bind="patient.title"></span>.<span class="lbl-dark" ng-bind="patient.name"></span>,</label>
                        <label class="lbl-text text-small">Age:  {{patient.age}} Years, </label>
                        <label class="lbl-text text-small">Gender:  {{patient.gender}}, </label>
                    </div>
                    <div class="second-row">
                        <label class="lbl-text text-medium">DOB:  {{patient.birthday.dmy}}, </label>
                        <label class="lbl-text text-medium">Phone:  {{patient.phone}}, </label>
                        <label class="lbl-text text-medium">Email:  {{patient.email}} </label>
                        <!-- <button class="lbl-text text-small pull-right  btn btn-default">View More </button> -->
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>